.container {
  width: 100%;
  max-width: 1340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
.category-select {
  display: flex;
  justify-content: end;
  padding-right: 180px;
}
#category {
  background: #45a738;
  color: aliceblue;
}
